<div class="col-md-offset-1 col-md-10 col-md-offset-1 maindiv">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">{{region}} Rankings</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped rankings_table">
        <thead>
          <tr><th>Rank</th><th>Player</th><th>Rating</th>
          </tr>
        </thead>
        <tbody>
          {{#list ranks}}
            <tr>
              <td>{{rank}}</td>
              <td><b>{{name}}</b></td>
              <td>{{rating}}</td>
            </tr>
          {{/list}}
        </tbody>
      </table>
    </div>
  </div>
</div>
